@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: rgba(127, 127, 127, 1);
    overflow: hidden;

    > div {
        height: 100dvh;
        border: 20px solid yellow;
        overflow-x: hidden;
        overflow-y: auto;
    }

    @media (min-height: 1000px) {
        font-size: 5rem;
    }
}

main {
    height: inherit;
    display: grid;
    grid-template-columns: 1fr minmax(100%, auto) 1fr;
    grid-template-rows: auto minmax(4rem, auto) 1fr;
    max-width: calc(100% - 2rem);
    margin: 0 auto;

    > * {
        grid-column: 2 / -2;
    }
}

.page-title {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: .5rem;
}

.keyboard {
    display: inline-grid;
    grid-template-columns: repeat(10, minmax(1ch, 1fr));
    /* order: 2; */
    margin: 1rem 0 0.5rem;

    > li {
        width: 100%;
        height: inherit;
        padding: .25rem;

        > button {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            border: 1px solid black;
            border-radius: .25rem;
            background-color: rgba(160, 160,160,1);
            color: black;
            font-size: 2rem;
            font-weight: 700;
        }
    }
}

section {

    > * {
        width: 100%;
        display: inherit;
        justify-content: inherit;
    }

     & input {
        width: 100%;
        border-radius: .25rem;
        margin: .25rem;
        padding: .25rem .5rem;
        font-size: 1.5rem;
        border: 1px solid black;
        border-radius: .25rem;
        background-color: rgba(180, 180,180,1);
        
        &:focus {
            outline: none;
            border: 1px solid #666;
        }
     }
}


/* keyboard types - see keyboard._index.tsx */
/*
    the arrays variable names near the top of the file
    are the keyboard type options (i.e - `vkbasic`
    NOTE: class names are always lowercase
*/
.vkbasic > li {
    &:nth-last-child(-n+1) {
        width: 33%;
        grid-row: 5;
        grid-column: 3 / 9;
    }

    &:nth-child(31) {
        grid-column: 2;
    }
}

.vkbasicsubmit > li {
    &:nth-last-child(-n+3) {
        width: 33%;
        grid-row: 5;
    }
    
    &:nth-last-child(1) {
        grid-column: 1/span 3;
    }
    &:nth-last-child(2) {
        grid-column: 4/span 4;
    }
    &:nth-last-child(3) {
        grid-column: 8/span 3;
    }
    
    &:nth-child(31) {
        grid-column: 2;
    }
}